#content {
	/* max-width: 360px; */
}

nav {
	margin-bottom: 0px !important;
}
footer{
	margin-top: 0px;
}

@media (min-width: 992px) {
	#login-underDiv {
		background: url(../img/LoginBG.jpg) 25% 30px no-repeat;
		background-color: #fafaf8;
		padding: 25px;
	}
	#content {
		height: 420px;
		padding-left: 30px !important;
		padding-right: 30px !important;
		border-radius: 9px;
    	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
	}
	#captcha-group > img {
		right: 30px !important;
	}
}

@media (max-width: 992px) {
	#login-underDiv {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	.container {
		width: 100% !important;
	}
}


h4 {
	font-family: "Microsoft Yahei" !important;
	font-weight: bold !important;
	margin-bottom: 30px !important;
}
.form-control, .btn {
	height: 40px !important;
}
.form-group {
	margin-bottom: 25px !important;
}
#content {
	min-height: 400px;
}
#captcha-group > img {
	position: absolute;
	right: 15px;
	margin-top: -40px;
	height: 40px;
	min-width: 120px;
	border: 1px solid #ccc;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}
#content > p{
	margin-top: 10px;
	text-align: center;
}
#content > a{
	position: absolute;
	bottom: 20px;
	right: 30px;
}
