<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>com.servlet.FindPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyCode</servlet-name>
    <servlet-class>com.servlet.VerifyCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCode</servlet-name>
    <url-pattern>/VerifyCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.servlet.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditMyInfo</servlet-name>
    <servlet-class>com.servlet.EditMyInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMyInfo</servlet-name>
    <url-pattern>/EditMyInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PassengerGuide</servlet-name>
    <servlet-class>com.servlet.PassengerGuide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerGuide</servlet-name>
    <url-pattern>/PassengerGuide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArrivalFlightSearch</servlet-name>
    <servlet-class>com.servlet.flight.ArrivalFlightSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArrivalFlightSearch</servlet-name>
    <url-pattern>/ArrivalFlightSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddArrivalFlightInfo</servlet-name>
    <servlet-class>com.servlet.flight.AddArrivalFlightInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArrivalFlightInfo</servlet-name>
    <url-pattern>/AddArrivalFlightInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyArrivalFlightInfo</servlet-name>
    <servlet-class>com.servlet.flight.ModifyArrivalFlightInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyArrivalFlightInfo</servlet-name>
    <url-pattern>/ModifyArrivalFlightInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteArrivalFlightInfo</servlet-name>
    <servlet-class>com.servlet.flight.DeleteArrivalFlightInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArrivalFlightInfo</servlet-name>
    <url-pattern>/DeleteArrivalFlightInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartureFlightSearch</servlet-name>
    <servlet-class>com.servlet.flight.DepartureFlightSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartureFlightSearch</servlet-name>
    <url-pattern>/DepartureFlightSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDepartureFlightInfo</servlet-name>
    <servlet-class>com.servlet.flight.AddDepartureFlightInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartureFlightInfo</servlet-name>
    <url-pattern>/AddDepartureFlightInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyDepartureFlightInfo</servlet-name>
    <servlet-class>com.servlet.flight.ModifyDepartureFlightInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyDepartureFlightInfo</servlet-name>
    <url-pattern>/ModifyDepartureFlightInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDepartureFlightInfo</servlet-name>
    <servlet-class>com.servlet.flight.DeleteDepartureFlightInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDepartureFlightInfo</servlet-name>
    <url-pattern>/DeleteDepartureFlightInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchResource</servlet-name>
    <servlet-class>com.servlet.facility.SearchResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResource</servlet-name>
    <url-pattern>/SearchResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyResource</servlet-name>
    <servlet-class>com.servlet.facility.ModifyResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyResource</servlet-name>
    <url-pattern>/ModifyResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddResource</servlet-name>
    <servlet-class>com.servlet.facility.AddResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResource</servlet-name>
    <url-pattern>/AddResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResourceDelete</servlet-name>
    <servlet-class>com.servlet.facility.ResourceDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceDelete</servlet-name>
    <url-pattern>/ResourceDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchFacility</servlet-name>
    <servlet-class>com.servlet.facility.SearchFacility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFacility</servlet-name>
    <url-pattern>/SearchFacility</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyFacility</servlet-name>
    <servlet-class>com.servlet.facility.ModifyFacility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFacility</servlet-name>
    <url-pattern>/ModifyFacility</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFacility</servlet-name>
    <servlet-class>com.servlet.facility.AddFacility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFacility</servlet-name>
    <url-pattern>/AddFacility</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FacilityDelete</servlet-name>
    <servlet-class>com.servlet.facility.FacilityDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacilityDelete</servlet-name>
    <url-pattern>/FacilityDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostTest</servlet-name>
    <servlet-class>com.servlet.PostTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostTest</servlet-name>
    <url-pattern>/PostTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAdmin</servlet-name>
    <servlet-class>com.servlet.user.SearchAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAdmin</servlet-name>
    <url-pattern>/SearchAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyAdmin</servlet-name>
    <servlet-class>com.servlet.user.ModifyAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAdmin</servlet-name>
    <url-pattern>/ModifyAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.servlet.user.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAdmin</servlet-name>
    <servlet-class>com.servlet.user.DeleteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdmin</servlet-name>
    <url-pattern>/DeleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchRole</servlet-name>
    <servlet-class>com.servlet.role.SearchRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRole</servlet-name>
    <url-pattern>/SearchRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyRole</servlet-name>
    <servlet-class>com.servlet.role.ModifyRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyRole</servlet-name>
    <url-pattern>/ModifyRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRole</servlet-name>
    <servlet-class>com.servlet.role.AddRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRole</servlet-name>
    <url-pattern>/AddRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRole</servlet-name>
    <servlet-class>com.servlet.role.DeleteRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRole</servlet-name>
    <url-pattern>/DeleteRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsSearch</servlet-name>
    <servlet-class>com.servlet.news.NewsSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsSearch</servlet-name>
    <url-pattern>/Public/News/NewsSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsUpdate</servlet-name>
    <servlet-class>com.servlet.news.NewsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsUpdate</servlet-name>
    <url-pattern>/News/NewsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsAdd</servlet-name>
    <servlet-class>com.servlet.news.Newsadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsAdd</servlet-name>
    <url-pattern>/News/NewsAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsDelete</servlet-name>
    <servlet-class>com.servlet.news.NewsDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDelete</servlet-name>
    <url-pattern>/News/NewsDelete</url-pattern>
  </servlet-mapping>
  <filter>
    <description></description>
    <display-name>PrivFilter</display-name>
    <filter-name>PrivFilter</filter-name>
    <filter-class>com.servlet.PrivFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrivFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description></description>
    <display-name>logFilter</display-name>
    <filter-name>logFilter</filter-name>
    <filter-class>com.servlet.logFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>